### Kaleigh Strohl | Problem Set 4: Numerical Optimization

In [2]:
import numpy as np
import pandas as pd
import scipy.optimize as opt
import scipy.stats as stats

In [3]:
df = pd.read_stata(r"C:\Users\kaleigh\Dropbox\Documents\UofSC\2021-22\Comp_Methods\ProblemSet_4\PS4_data.dta")
df.head(n=10)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0
5,6,1967,6,Head,2230.0,120.0,NaN,NaN,2,1.0,...,6269.0,1.0,2.0,49.0,46.0,1.0,2.0,8.0,13.0,0.0
6,7,1967,7,Head,2254.0,1144.0,NaN,NaN,3,1.0,...,8743.0,1.0,2.0,51.0,42.0,1.0,2.0,7.0,7.0,0.0
7,8,1967,8,Head,1763.0,1960.0,NaN,NaN,2,NaN,...,9677.0,1.0,2.0,47.0,43.0,1.0,2.0,5.0,9.0,0.0
8,9,1967,9,Head,0.0,0.0,NaN,NaN,0,NaN,...,1.0,1.0,2.0,66.0,63.0,1.0,2.0,12.0,12.0,0.0
9,10,1967,10,Head,1560.0,0.0,NaN,NaN,3,NaN,...,6301.0,1.0,2.0,57.0,58.0,1.0,2.0,16.0,11.0,0.0

In [4]:
df['white'] = (df['hrace']==1).astype(int)
df['black'] = (df['hrace']==2).astype(int)
df['hispanic'] = (df['hrace']==5).astype(int)
otherrace = [3, 4, 6, 7]
df['otherrace'] = (df['hrace'].isin(otherrace)).astype(int)
df[["white", "black", "hispanic", "otherrace"]]

df['agesq'] = (df['age']**2)
df['agesq']

df['hr_wage'] = (df.hlabinc)/(df.hannhrs)
df['hr_wage']

df['ln_wage'] = np.log(df['hr_wage'])
df['ln_wage']

df.replace([np.inf, -np.inf], np.nan, inplace=True)

df.head(n=10)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,hyrsed,wyrsed,pce,white,black,hispanic,otherrace,agesq,hr_wage,ln_wage
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,8.0,8.0,0.0,1,0,0,0,2704.0,NaN,NaN
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,3.0,3.0,0.0,1,0,0,0,3136.0,NaN,NaN
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,NaN,3.0,0.0,1,0,0,0,5929.0,NaN,NaN
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,8.0,5.0,0.0,1,0,0,0,2025.0,NaN,NaN
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,10.0,9.0,0.0,1,0,0,0,576.0,NaN,NaN
5,6,1967,6,Head,2230.0,120.0,NaN,NaN,2,1.0,...,8.0,13.0,0.0,1,0,0,0,2401.0,NaN,NaN
6,7,1967,7,Head,2254.0,1144.0,NaN,NaN,3,1.0,...,7.0,7.0,0.0,1,0,0,0,2601.0,NaN,NaN
7,8,1967,8,Head,1763.0,1960.0,NaN,NaN,2,NaN,...,5.0,9.0,0.0,1,0,0,0,2209.0,NaN,NaN
8,9,1967,9,Head,0.0,0.0,NaN,NaN,0,NaN,...,12.0,12.0,0.0,1,0,0,0,4356.0,NaN,NaN
9,10,1967,10,Head,1560.0,0.0,NaN,NaN,3,NaN,...,16.0,11.0,0.0,0,1,0,0,3249.0,NaN,NaN

In [5]:
df = df.loc[(df['hsex'] == 1) & (df['age'] >= 25) & (df['age'] <= 60) & (df['hr_wage'])]
df.head(n=10)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,hyrsed,wyrsed,pce,white,black,hispanic,otherrace,agesq,hr_wage,ln_wage
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,12.0,12.0,0.247121,1,0,0,0,2601.0,41.318916,3.721320
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,5.0,5.0,0.247121,1,0,0,0,3025.0,11.274115,2.422509
11165,462,1971,5,Head,1960.0,0.0,12949.125977,NaN,0,NaN,...,5.0,8.0,0.247121,1,0,0,0,3481.0,6.606697,1.888084
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,16.0,12.0,0.247121,1,0,0,0,625.0,10.257995,2.328057
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,16.0,12.0,0.247121,1,0,0,0,1521.0,32.035599,3.466848
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,12.0,12.0,0.247121,1,0,0,0,1296.0,10.103716,2.312903
11192,1064,1971,56,Head,980.0,72.0,18614.369141,4451.262207,1,1.0,...,17.0,16.0,0.247121,1,0,0,0,961.0,18.994255,2.944137
11196,1679,1971,61,Head,2652.0,1960.0,25461.220703,16101.429688,1,2.0,...,11.0,9.0,0.247121,0,1,0,0,1764.0,9.600762,2.261842
11198,1415,1971,63,Head,2416.0,0.0,39980.429688,NaN,3,1.0,...,11.0,11.0,0.247121,1,0,0,0,1296.0,16.548191,2.806277
11199,280,1971,64,Head,3427.0,1040.0,56611.960938,7688.543945,2,1.0,...,9.0,12.0,0.247121,1,0,0,0,1936.0,16.519394,2.804535

In [6]:
df1971 = df.loc[df['year'] == 1971]
df1980 = df.loc[df['year'] == 1980]
df1990 = df.loc[df['year'] == 1990]
df2000 = df.loc[df['year'] == 2000]
df2000

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,hyrsed,wyrsed,pce,white,black,hispanic,otherrace,agesq,hr_wage,ln_wage
113660,2191,2000,4,Head,1930.0,0.0,37937.539062,NaN,0,2.0,...,12.0,12.0,0.89621,0,1,0,0,2401.0,19.656755,2.978421
113665,424,2000,9,Head,2025.0,500.0,80561.476562,6644.648438,0,1.0,...,16.0,14.0,0.89621,1,0,0,0,3025.0,39.783443,3.683451
113669,2497,2000,13,Head,2064.0,0.0,61369.546875,NaN,0,1.0,...,12.0,14.0,0.89621,1,0,0,0,2916.0,29.733307,3.392268
113676,1692,2000,22,Head,1040.0,0.0,33474.300781,NaN,2,1.0,...,12.0,NaN,0.89621,1,0,0,0,2704.0,32.186829,3.471557
113682,644,2000,29,Head,2000.0,0.0,28453.154297,NaN,1,1.0,...,14.0,12.0,0.89621,1,0,0,0,3025.0,14.226577,2.655112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118621,633,2000,7445,Head,3120.0,1512.0,26799.523438,21814.083984,0,1.0,...,17.0,12.0,0.89621,1,0,0,0,625.0,8.589591,2.150551
118623,2117,2000,7448,Head,2400.0,0.0,100422.898438,NaN,0,1.0,...,15.0,NaN,0.89621,1,0,0,0,1444.0,41.842873,3.733922
118624,2568,2000,7451,Head,2295.0,765.0,46810.460938,50155.656250,0,1.0,...,12.0,12.0,0.89621,1,0,0,0,1764.0,20.396715,3.015374
118625,2782,2000,7454,Head,2082.0,0.0,53558.878906,NaN,1,1.0,...,12.0,NaN,0.89621,1,0,0,0,2209.0,25.724726,3.247453
118626,1242,2000,7456,Head,1500.0,0.0,50211.449219,NaN,0,1.0,...,14.0,NaN,0.89621,1,0,0,0,1936.0,33.474300,3.510778

In [7]:
from scipy.optimize import minimize
import statsmodels.api as sm
from statsmodels.base.model import GenericLikelihoodModel

### (Creating OLS estimates first to later compare)

In [8]:
Y1971 = df1971["ln_wage"]
X1971 = df1971[["hyrsed", "age", "agesq", "black", "hispanic", "otherrace"]]

print(sm.OLS(Y1971, X1971, missing='drop').fit().summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                ln_wage   R-squared (uncentered):                   0.968
Model:                            OLS   Adj. R-squared (uncentered):              0.968
Method:                 Least Squares   F-statistic:                              8813.
Date:                Tue, 05 Oct 2021   Prob (F-statistic):                        0.00
Time:                        08:45:49   Log-Likelihood:                         -1130.4
No. Observations:                1472   AIC:                                      2271.
Df Residuals:                    1467   BIC:                                      2297.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
hyrsed         0.0791      0.004     18.013      0.000       0.071       0.088
age            0.0847      0.003     24.552      0.000       0.078       0.092
agesq         -0.0009   5.27e-05    -16.616      0.000      -0.001      -0.001
black         -0.1530      0.054     -2.816      0.005      -0.260      -0.046
hispanic            0          0        nan        nan           0           0
otherrace      0.0450      0.084      0.535      0.593      -0.120       0.210
==============================================================================
Omnibus:                      291.180   Durbin-Watson:                   1.788
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1219.711
Skew:                          -0.889   Prob(JB):                    1.39e-265
Kurtosis:                       7.089   Cond. No.                          inf
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\kaleigh\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

In [9]:
# output issue because there are no observations for the 'hispanic' dummy -- drop the variable from the regression
# also need to add a constant

X1971 = sm.add_constant(df1971[["hyrsed", "age", "agesq", "black", "otherrace"]])
print(sm.OLS(Y1971, X1971, missing='drop').fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.228
Model:                            OLS   Adj. R-squared:                  0.226
Method:                 Least Squares   F-statistic:                     86.70
Date:                Tue, 05 Oct 2021   Prob (F-statistic):           5.66e-80
Time:                        08:46:00   Log-Likelihood:                -1130.0
No. Observations:                1472   AIC:                             2272.
Df Residuals:                    1466   BIC:                             2304.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.2029      0.237     -0.857      0.392      -0.667       0.262
hyrsed         0.0801      0.005     17.632      0.000       0.071       0.089
age            0.0942      0.012      8.111      0.000       0.071       0.117
agesq         -0.0010      0.000     -7.030      0.000      -0.001      -0.001
black         -0.1505      0.054     -2.766      0.006      -0.257      -0.044
otherrace      0.0447      0.084      0.531      0.596      -0.120       0.210
==============================================================================
Omnibus:                      287.578   Durbin-Watson:                   1.790
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1190.484
Skew:                          -0.881   Prob(JB):                    3.09e-259
Kurtosis:                       7.038   Cond. No.                     3.38e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
# Repeat for other years (after also checking hispanic variable and adding constant)
Y1980 = df1980["ln_wage"]
X1980 = sm.add_constant(df1980[["hyrsed", "age", "agesq", "black", "otherrace"]])

Y1990 = df1990["ln_wage"]
X1990 = sm.add_constant(df1990[["hyrsed", "age", "agesq", "black", "otherrace"]])

Y2000 = df2000["ln_wage"]
X2000 = sm.add_constant(df2000[["hyrsed", "age", "agesq", "black", "otherrace"]])

print("OLS Regression Results: 1980")
print(sm.OLS(Y1980, X1980, missing='drop').fit().summary())
print()
print("OLS Regression Results: 1990")
print(sm.OLS(Y1990, X1990, missing='drop').fit().summary())
print()
print("OLS Regression Results: 2000")
print(sm.OLS(Y2000, X2000, missing='drop').fit().summary())

OLS Regression Results: 1980
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.164
Model:                            OLS   Adj. R-squared:                  0.162
Method:                 Least Squares   F-statistic:                     76.79
Date:                Tue, 05 Oct 2021   Prob (F-statistic):           1.11e-73
Time:                        08:46:03   Log-Likelihood:                -1617.1
No. Observations:                1966   AIC:                             3246.
Df Residuals:                    1960   BIC:                             3280.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6602      0.228      2.891      0.004       0.212       1.108
hyrsed         0.0802      0.005     15.983      0.000       0.070       0.090
age            0.0489      0.011      4.300      0.000       0.027       0.071
agesq         -0.0004      0.000     -3.131      0.002      -0.001      -0.000
black         -0.1429      0.050     -2.839      0.005      -0.242      -0.044
otherrace      0.0791      0.086      0.918      0.359      -0.090       0.248
==============================================================================
Omnibus:                      353.878   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1613.069
Skew:                          -0.788   Prob(JB):                         0.00
Kurtosis:                       7.148   Cond. No.                     3.28e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.28e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

OLS Regression Results: 1990
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.199
Method:                 Least Squares   F-statistic:                     109.4
Date:                Tue, 05 Oct 2021   Prob (F-statistic):          2.33e-103
Time:                        08:46:03   Log-Likelihood:                -2060.6
No. Observations:                2188   AIC:                             4133.
Df Residuals:                    2182   BIC:                             4167.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.3215      0.265     -1.213      0.225      -0.841       0.198
hyrsed         0.1134      0.006     18.871      0.000       0.102       0.125
age            0.0685      0.013      5.234      0.000       0.043       0.094
agesq         -0.0006      0.000     -4.084      0.000      -0.001      -0.000
black         -0.2123      0.057     -3.756      0.000      -0.323      -0.101
otherrace     -0.0032      0.111     -0.029      0.977      -0.220       0.214
==============================================================================
Omnibus:                      389.226   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1377.914
Skew:                          -0.858   Prob(JB):                    6.16e-300
Kurtosis:                       6.489   Cond. No.                     3.48e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.48e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

OLS Regression Results: 2000
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.169
Model:                            OLS   Adj. R-squared:                  0.167
Method:                 Least Squares   F-statistic:                     112.0
Date:                Tue, 05 Oct 2021   Prob (F-statistic):          5.19e-108
Time:                        08:46:03   Log-Likelihood:                -2883.3
No. Observations:                2763   AIC:                             5779.
Df Residuals:                    2757   BIC:                             5814.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.6185      0.267     -2.319      0.020      -1.142      -0.095
hyrsed         0.1216      0.006     19.395      0.000       0.109       0.134
age            0.0895      0.013      7.085      0.000       0.065       0.114
agesq         -0.0010      0.000     -6.349      0.000      -0.001      -0.001
black         -0.2974      0.057     -5.183      0.000      -0.410      -0.185
otherrace     -0.1066      0.072     -1.481      0.139      -0.248       0.034
==============================================================================
Omnibus:                      928.451   Durbin-Watson:                   2.040
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            11151.782
Skew:                          -1.241   Prob(JB):                         0.00
Kurtosis:                      12.524   Cond. No.                     3.98e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.98e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

### MLE Estimation

In [11]:
def MLE(params):
    '''
    This function replicates the model specified with the exception of the 'hispanic' indicator variable.
    
    Args: 
        params (tuple): model parameters
        
    Returns: 
        ln_wage (scalar): The natural log of hourly wages given the parameters.
    '''
    cons, beta1, beta2, beta3, beta4, beta5 = params
    
    coeff = [cons, beta1, beta2, beta3, beta4, beta5]
    
    lnwage = np.dot(x, coeff)
    neg_LL = -np.sum(stats.norm.logpdf(y, lnwage))
    return(neg_LL)

#### 1971 MLE

In [12]:
y = np.array(Y1971).astype('float')
x = np.array(X1971).astype('float')
print(y)
print(y.shape)
print(x)
print(x.shape)

[3.72132039 2.42250943 1.88808382 ... 3.43475938 3.35275841 2.87378407]
(1492,)
[[1.000e+00 1.200e+01 5.100e+01 2.601e+03 0.000e+00 0.000e+00]
 [1.000e+00 5.000e+00 5.500e+01 3.025e+03 0.000e+00 0.000e+00]
 [1.000e+00 5.000e+00 5.900e+01 3.481e+03 0.000e+00 0.000e+00]
 ...
 [1.000e+00 9.000e+00 4.600e+01 2.116e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 5.800e+01 3.364e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 3.500e+01 1.225e+03 0.000e+00 0.000e+00]]
(1492, 6)

In [30]:
guess = (-0.20, 0.08, 0.09, 0.00, -0.15, 0.04)

In [41]:
model1971 = opt.minimize(MLE, guess, method='L-BFGS-B', tol = 1e-10, options={'maxiter': 5000})
print(model1971)

      fun: nan
 hess_inv: <6x6 LbfgsInvHessProduct with dtype=float64>
      jac: array([nan, nan, nan, nan, nan, nan])
  message: 'ABNORMAL_TERMINATION_IN_LNSRCH'
     nfev: 147
      nit: 0
     njev: 21
   status: 2
  success: False
        x: array([-0.2 ,  0.08,  0.09,  0.  , -0.15,  0.04])

#### Obviously, this did not converge. When I use the other bounded optimizer, the error message is different but results in the same. I looked into the error here and gathered that the iterations are traveling in the opposite direction of where the minimum is (which then makes sense why I am not getting anything). I tried different guesses, but cannot figure out what mistake(s) I am making. Even though the same thing happens for every year, I included the code below anyway.
#### Beta1 is the coefficient on the years of education variable. Using the OLS output, the coefficients on this variable are increasing over time, meaning that the returns to education are increasing. In 1971, an increase in education by one year is going to increase wages by about 8 percentage points.

#### 1980 MLE

In [32]:
y = np.array(Y1980).astype('float')
x = np.array(X1980).astype('float')
print(y)
print(y.shape)
print(x)
print(x.shape)

[3.44188738 2.38191724 2.45204258 ... 3.54693937 2.45700407 2.23799682]
(1967,)
[[1.000e+00 8.000e+00 4.400e+01 1.936e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.600e+01 2.600e+01 6.760e+02 0.000e+00 0.000e+00]
 [1.000e+00 1.300e+01 2.500e+01 6.250e+02 0.000e+00 0.000e+00]
 ...
 [1.000e+00 1.100e+01 4.700e+01 2.209e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.600e+01 5.000e+01 2.500e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 3.900e+01 1.521e+03 0.000e+00 0.000e+00]]
(1967, 6)

In [36]:
model1980 = opt.minimize(MLE, guess, method='SLSQP', tol = 1e-10, options={'maxiter': 5000})
print(model1980)

     fun: nan
     jac: array([nan, nan, nan, nan, nan, nan])
 message: 'Iteration limit reached'
    nfev: 89989
     nit: 5000
    njev: 5000
  status: 9
 success: False
       x: array([nan, nan, nan, nan, nan, nan])

#### 1990 MLE

In [37]:
y = np.array(Y1990).astype('float')
x = np.array(X1990).astype('float')
print(y)
print(y.shape)
print(x)
print(x.shape)

[3.13596869 2.63720655 2.61075449 ... 1.93595636 2.95409083 1.64244711]
(2191,)
[[1.000e+00 1.700e+01 3.500e+01 1.225e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.300e+01 3.100e+01 9.610e+02 0.000e+00 0.000e+00]
 [1.000e+00 1.600e+01 3.700e+01 1.369e+03 0.000e+00 0.000e+00]
 ...
 [1.000e+00 1.300e+01 2.700e+01 7.290e+02 1.000e+00 0.000e+00]
 [1.000e+00 1.600e+01 3.500e+01 1.225e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 2.700e+01 7.290e+02 0.000e+00 0.000e+00]]
(2191, 6)

In [38]:
model1990 = opt.minimize(MLE, guess, method='SLSQP', tol = 1e-10, options={'maxiter': 5000})
print(model1990)

     fun: nan
     jac: array([nan, nan, nan, nan, nan, nan])
 message: 'Iteration limit reached'
    nfev: 89989
     nit: 5000
    njev: 5000
  status: 9
 success: False
       x: array([nan, nan, nan, nan, nan, nan])

#### 2000 MLE

In [39]:
y = np.array(Y2000).astype('float')
x = np.array(X2000).astype('float')
print(y)
print(y.shape)
print(x)
print(x.shape)

[2.97842097 3.68345094 3.39226794 ... 3.01537395 3.24745274 3.51077795]
(2847,)
[[1.000e+00 1.200e+01 4.900e+01 2.401e+03 1.000e+00 0.000e+00]
 [1.000e+00 1.600e+01 5.500e+01 3.025e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 5.400e+01 2.916e+03 0.000e+00 0.000e+00]
 ...
 [1.000e+00 1.200e+01 4.200e+01 1.764e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.200e+01 4.700e+01 2.209e+03 0.000e+00 0.000e+00]
 [1.000e+00 1.400e+01 4.400e+01 1.936e+03 0.000e+00 0.000e+00]]
(2847, 6)

In [40]:
model2000 = opt.minimize(MLE, guess, method='SLSQP', tol = 1e-10, options={'maxiter': 5000})
print(model2000)

     fun: nan
     jac: array([nan, nan, nan, nan, nan, nan])
 message: 'Iteration limit reached'
    nfev: 89989
     nit: 5000
    njev: 5000
  status: 9
 success: False
       x: array([nan, nan, nan, nan, nan, nan])